@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* COLORS */
    --orange: #ffa500;
    --green: #207e3c;
    --red: #ff0000;
    --yellow: #dcf83b;
    --brown: #8b5c04;
    --blue-light: #00e1ff;
    --blue: #0400ff;
    --pink: #ff00dd;
    --green-light: #22fa2d;
    --violet: #720063;
    --black: #000000;
    --black-v2: #222;
    --black-light: #444;
    --grey: #8d8d8d;
    --white: #ffffff;
    
    
}

/* scrollbar css */
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 6px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--blue);
}

/* formulaire */
.form_connexion_inscription{
    display: flex;
    background-color: var(--white);
    flex-direction: column;
    width: 350px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.form_connexion_inscription .message_error{
    color: var(--red);
    font-size: 14px;
}

.form_connexion_inscription label{
    margin: 2px 0;
}

.form_connexion_inscription input{
    padding: 5px;
    outline: 0;
    border-radius: 6px;
    border: 1px solid var(--grey);
}

.form_connexion_inscription input[type='submit']{
    margin-top: 20px;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: var(--white); 
} 

.form_connexion_inscription .link{
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.link a{
    color: var(--blue);
    font-size: 14px;
    text-decoration: 0;
}

.link a:hover{
    text-decoration: underline;
}

/* chat css */
.chat{
    background-color: var(--white);
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-email{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deconnexion_btn{
    padding: 5px 20px;
    color: var(--white);
    background-color: var(--blue);
    font-size: 13px;
    text-decoration: 0;
    border-radius: 6px;
}

.message_box{
    min-height: 360px;
    max-height: 360px;
    min-width: 400px;
    margin: 10px 0;
    overflow: auto;
    padding: 5px 10px;
    border-top: 1px solid var(--grey);
}

.message_box .message{
    margin-bottom: 15px;
    padding: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.message_box .message span{
    font-weight: bold;
    font-size: 14px;
}

.message_box p{
    word-break: break-all;
    font-size: 13px;
}

.your_message{
    border: 1px solid var(--blue);
    border-radius: 10px 10px 10px 0;
}

.your_message span{
    color: var(--blue);
}

.others_message{
    border: 1px solid var(--grey);
    border-radius: 10px 10px 0 10px;
}

.others_message span{
    color: var(--black);
}

.date{
    color: var(--white);
}

.send_message{
    border-top: 1px solid var(--grey);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.send_message textarea{
    width: 100%;
    resize: none;
    border-radius: 6px;
    outline: 0;
    padding: 5px;
    font-size: 13px;
}

.send_message input[type='submit']{
    width: 100%;
    padding: 5px 0;
    margin-top: 10px;
    border-radius: 6px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 13px;
    border-top: 1px solid var(--blue);
    cursor: pointer;
}

